<ul>
  <li><strong>Rails Play:</strong> 1.0.1 (2015-03-29)</li>
  <li><strong>Ruby:</strong> <%= "#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}" %></li>
  <li><strong>Rails:</strong> <%= Rails.version %></li>  
</ul>